.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #44977f;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.login {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 70vh;
  width: 50vw;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 7rem;
}

.login-showcase {
  background-image: url("../assets/gifts-showcase-login.jpg");
  width: 40vw;
  height: 70vh;
  background-size: cover;
  object-position: center;
}
.login-btn {
  /* background-color: #44977f; */
  background-color: #b9e6fb;

  margin-top: 2rem;
}
.signup-btn {
  background-color: #b9e6fb;
}
.login-buttons {
  padding: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .login-screen {
    flex-direction: column;
  }

  .login-showcase {
    width: 90vw;
    height: 30vh;
  }
  .login {
    width: 90vw;
    height: 60vh;
  }
  .login-form {
    align-items: center;
    gap: 0.5rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1505px) {
  .login-showcase {
    width: 40vw;
    height: 70vh;
  }
  .login {
    width: 50vw;
    height: 70vh;
  }
}
