.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #44977f;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.login {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 70vh;
  width: 50vw;
}
.login-form {
  display: flex;
  flex-direction: column;
}

.login-showcase {
  background-image: url("../assets/gifts-showcase-login.jpg");
  width: 40vw;
  height: 70vh;

  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .login-screen {
    flex-direction: column;
  }

  .login-showcase {
    width: 80vw;
    height: 40vh;
  }
}
