.games-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.success-btn {
  background-color: green;
  color: white;
  margin: 0.5rem;
}

.home-content {
  position: relative;
}

.home-background {
  position: relative;
}

.home-background:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("../assets/gifts-background-home.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.themes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.christmas-btn,
.purim-btn,
.eid-btn {
  color: white;
  width: 11rem;
  /* margin: 0.5rem; */
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  opacity: 0.9;
}

.christmas-btn {
  background-image: url("../assets/themes/christmas/christmas-button.png");
}

.purim-btn {
  background-image: url("../assets/themes/purim/purim-button.jpg");
}
.eid-btn {
  background-image: url("../assets/themes/eid/eid-button.jpg");
}

.user-instructions-background {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.gifts-form {
  display: flex;
  align-items: flex-end;
  gap: 2%;
  justify-content: center;
}
.gift-idea-item {
  list-style-type: none;
  color: white;
}

.participants-table {
  border-collapse: collapse;
}

.participants-table td,
.participants-table th {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

.participants-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.participants-table tr:hover {
  background-color: #ddd;
}

.participants-table th {
  text-align: center;
  background-color: #000000c0;
  color: white;
}
.admin-actions-btns {
  display: flex;
  gap: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .user-instructions-background {
    width: 80vw;
    height: 90vh;
  }
  .gifts-form {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

@media only screen and (min-width: 601px) {
  .user-instructions-background {
    width: 90vw;
    height: 90vh;
  }
}

@media only screen and (min-width: 1600px) {
  .user-instructions-background {
    width: 90vw;
    height: 90vh;
  }
}
